<div class='wrapper'>
    <header>
        <div class='branding'>
            <h1>Brand Name</h1>
            <nav>
                <ul>
                    <li><a href='#home'>Home</a></li>
                    <li><a href='#products'>Products</a>
                        <ul>
                            <li><a href='#product1'>Product 1</a></li>
                            <li><a href='#product2'>Product 2</a></li>
                        </ul>
                    </li>
                    <li><a href='#services'>Services</a></li>
                    <li><a href='#contact'>Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class='intro'>
            <h2>Welcome</h2>
            <p>Introduction content here.</p>
        </section>
        <section class='features'>
            <div class='feature'>
                <h3>Feature 1</h3>
                <p>Description of feature 1.</p>
            </div>
            <div class='feature'>
                <h3>Feature 2</h3>
                <p>Description of feature 2.</p>
            </div>
        </section>
        <article class='highlight'>
            <h2>Highlighted Article</h2>
            <p>Content of the highlighted article.</p>
            <table>
                <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                    </tr>
                    <tr>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </main>
    <footer>
        <p>\&copy; 2024 Company Name</p>
    </footer>
</div>