<head>
    <title>Simple example</title>
    <style>
        body {
            background-color: white;
        }
    </style>
    <script>
        console.log('Hello, world!');
    </script>
</head>

<body>
    <header>
        <h1>Website Title</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                 <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Main Content</h2>
            <article>
                <h3>Article Title</h3>
                <p>Article content goes here.</p>
            </article>
            <aside>
                <h4>Related Links</h4>
                <ul>
                    <li><a href="#link1">Link 1</a></li>
                    <li><a href="#link2">Link 2</a></li>
                </ul>
            </aside>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Website</p>
    </footer>
</body>